header{
    border: black solid 3px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
nav{
    border: black solid 3px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.ulNav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(173, 153, 122);
}
.liNav{
    display: inline;
    float: left;
    text-align: center;
    padding: 14px 16px;
}
.aNav{
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}@keyframes aNav{
    from {color: black}
    to {color: white}
}
.aNav:hover{
    animation-name: aNav;
    animation-duration: 2s;
}
@keyframes liNav{
    from {background-color: rgb(173, 153, 122)}
    to {background-color: rgb(133, 117, 94)}
}
.liNav:hover{
    animation-name: liNav;
    animation-duration: 2s;
}
main{
    border: black solid 3px;
    float: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
footer{
    text-align: center;
    border: black solid 3px;
    clear: both;
    float: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.titulo{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: cadetblue;
}
.subtitulo{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}
p{
    font-size: 20px;
}
body{
    background-color: blanchedalmond;
}
.logo{
    width: 50px;
    height: 50px;
}
.logoFlotante{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 85%;
    right: 10%;
}
.labelNombre{
    float: left;
    width:25%;
    padding-left: 20%;
    box-sizing: border-box;
}
.inputNombre{
    border: black solid 3px;
    float: left;
    width: 5%;
    box-sizing: border-box;
}
.labelApellido{
    float: left;
    width: 25%;
    padding-left: 20%;
    box-sizing: border-box;
}
.inputApellido{
    border: black solid 3px;
    float: left;
    width: 5%;
    box-sizing: border-box;
}
.labelMail{
    float: left;
    width: 25%;
    padding-left: 20%;
    box-sizing: border-box;
}
.inputMail{
    border: black solid 3px;
    float: left;
    width: 5%;
    box-sizing: border-box;
}
.labelMensaje{
    float: left;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.inputMensaje{
    border: black solid 3px;
    clear: both;
    float: left;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
}
.inputSubmit{
    border: black solid 3px;
    clear: both;
    float: left;
    width: 5%;
    margin-right: 47.5%;
    margin-left: 47.5%;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
}