@font-face {
    font-family: "bradley hand";
    src: url("../fonts/BRADHITC.TTF")
    format("truetype");
}
body{
    display: flex;
    flex-flow:  wrap;
    justify-content: flex-start;
}
header{
    display: flex;
    flex-flow: column;
    border: black solid 3px;
    flex: 100%;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-flow: row wrap;
    border: black solid 3px;
    flex: 100%;
    box-sizing: border-box;
    font-family: "oswald";
    background-color: rgb(173, 153, 122);
}

.ulNav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(173, 153, 122);
}
.liNav{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 14px 16px;
}
.aNav{
    display: flex;
    color: black;
    text-align: center;
    text-decoration: none;
}
@keyframes aNav{
    from {color: black}
    to {color: white}
}
.aNav:hover{
    animation-name: aNav;
    animation-duration: 2s;
}
@keyframes liNav{
    from {background-color: rgb(173, 153, 122)}
    to {background-color: rgb(133, 117, 94)}
}
.liNav:hover{
    animation-name: liNav;
    animation-duration: 2s;
}
main{
    border: black solid 3px;
    flex: 60%;
    box-sizing: border-box;
}
footer{
    text-align: center;
    border: black solid 3px;
    clear: both;
    flex: 100%;
    box-sizing: border-box;
}
.titulo{
    text-align: center;
    text-decoration: underline;
    font-size: 3.1rem;
    color: cadetblue;
    font-family: "bradley hand";
}
.subtitulo{
    text-align: center;
    text-decoration: underline;
    font-size: 1.9rem;
}
p{
    font-size: 1.2rem;
}
body{
    background-color: blanchedalmond;
}
.logo{
    width: 2.6041666666666665vw;
    height: 5.399568034557236vh;
}
.logoFlotante{
    width: 2.6041666666666665vw;
    height: 5.399568034557236vh;
    position: fixed;
    top: 85%;
    right: 10%;
}
.labelNombre{
    float: left;
    width:25%;
    padding-left: 20%;
    box-sizing: border-box;
}
.inputNombre{
    border: black solid 3px;
    float: left;
    width: 5%;
    box-sizing: border-box;
}
.labelApellido{
    float: left;
    width: 25%;
    padding-left: 20%;
    box-sizing: border-box;
}
.inputApellido{
    border: black solid 3px;
    float: left;
    width: 5%;
    box-sizing: border-box;
}
.labelMail{
    float: left;
    width: 25%;
    padding-left: 20%;
    box-sizing: border-box;
}
.inputMail{
    border: black solid 3px;
    float: left;
    width: 5%;
    box-sizing: border-box;
}
.labelMensaje{
    float: left;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}
.inputMensaje{
    border: black solid 3px;
    clear: both;
    float: left;
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
}
.inputSubmit{
    border: black solid 3px;
    clear: both;
    float: left;
    width: 5%;
    margin-right: 47.5%;
    margin-left: 47.5%;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
}