@font-face {
    font-family: "bradley hand";
    src: url("../fonts/BRADHITC.TTF")
    format("truetype");
}
body{
    display: flex;
    flex-flow:  wrap;
    justify-content: flex-start;
}
header{
    display: flex;
    flex-flow: column;
    border: black solid 3px;
    flex: 100%;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-flow: row wrap;
    border: black solid 3px;
    flex: 100%;
    box-sizing: border-box;
    font-family: "oswald";
    background-color: rgb(173, 153, 122);
}
.ulNav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(173, 153, 122);
}
.liNav{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 14px 16px;
}
.aNav{
    display: flex;
    color: black;
    text-align: center;
    text-decoration: none;
}
@keyframes aNav{
    from {color: black}
    to {color: white}
}
.aNav:hover{
    animation-name: aNav;
    animation-duration: 2s;
}
@keyframes liNav{
    from {background-color: rgb(173, 153, 122)}
    to {background-color: rgb(133, 117, 94)}
}
.liNav:hover{
    animation-name: liNav;
    animation-duration: 2s;
}
main{
    border: black solid 3px;
    flex: 60%;
    box-sizing: border-box;
}
aside{
    text-align: center;
    border: black solid 3px;
    flex: 40%;
    box-sizing: border-box;
}
footer{
    text-align: center;
    border: black solid 3px;
    clear: both;
    flex: 100%;
    box-sizing: border-box;
}
.titulo{
    text-align: center;
    text-decoration: underline;
    font-family: "bradley hand";
    font-size: 3.1rem;
    color: cadetblue;
}
.subtitulo{
    text-align: center;
    text-decoration: underline;
    font-size: 1.9rem;
}
p{
    font-size: 1.2rem;
}
body{
    background-color: blanchedalmond;
}
#imagenTortilla{
    margin: auto;
    display: block;
    width:28.048780487804876vw;
    height:28.68970482354212vh;
}
@keyframes imagenTortilla{
    from {width:28.048780487804876vw;
        height:28.68970482354212vh;}
    to {width:35.06097560975609vw;
        height:35.86213102942765vh;}
}
#imagenTortilla:hover{
    animation-name: imagenTortilla;
    animation-duration: 1s;
}
.musica::after{
    content: "            <------Escuchala mientras lees";
    color: green;
}
@keyframes videoYoutube{
    from {width:29.166666666666668vw;
        height:34.01727861771058vh;}
    to {width:36.458333333333336vw;
        height:43.196544276457885vh;}
}
.videoYoutube{
    width:29.166666666666668vw;
    height:34.01727861771058vh;
}
.videoYoutube:hover{
    animation-name: videoYoutube;
    animation-duration: 2s;
}
@keyframes mapaGoogle{
    from {width:31.25vw;
        height:48.59611231101512vh;}
    to {width:36.458333333333336vw;
        height:53.99568034557235vh;}
}
.mapaGoogle{
    width:31.25vw;
    height:48.59611231101512vh;
}
.mapaGoogle:hover{
    animation-name: mapaGoogle;
    animation-duration: 2s;
}
@keyframes subtitulo{
    from {font-size: 1.9rem;}
    to {font-size: 2.2rem;}
}
.subtitulo:hover{
    animation-name: subtitulo;
    animation-duration: 2s;
}
.logo{
    width: 2.6041666666666665vw;
    height: 5.399568034557236vh;
}
.texto{
    display: none;
}
.logoFlotante{
    width: 2.6041666666666665vw;
    height: 5.399568034557236vh;
    position: fixed;
    top: 85%;
    right: 10%;
}
@media (max-width: 575px){
    #imagenTortilla{
        width:100.048780487804876vw;
        height:32.68970482354212vh;
    }
    .mapaGoogle{
        width:100.048780487804876vw;
        height:48.59611231101512vh;
    }
    .videoYoutube{
        width:100.048780487804876vw;
        height:34.01727861771058vh;
    }
    .logoFlotante{
        display: none;
    }
    .logo{
        display: none;
    }
    .texto{
        display: block;
    }
}
@media (max-width: 768px){
    #imagenTortilla{
        width:100.048780487804876vw;
        height:32.68970482354212vh;
    }
    .mapaGoogle{
        width:100.048780487804876vw;
        height:48.59611231101512vh;
    }
    .videoYoutube{
        width:100.048780487804876vw;
        height:34.01727861771058vh;
    }
    .logoFlotante{
        display: none;
    }
    .logo{
        display: none;
    }
    .texto{
        display: block;
    }
}
@media (max-width: 991px){
    #imagenTortilla{
        width:100.048780487804876vw;
        height:32.68970482354212vh;
    }
    .mapaGoogle{
        width:100.048780487804876vw;
        height:48.59611231101512vh;
    }
    .videoYoutube{
        width:100.048780487804876vw;
        height:34.01727861771058vh;
    }
    .logoFlotante{
        display: none;
    }
    .logo{
        display: none;
    }
    .texto{
        display: block;
    }
}
